<h2>Posts Table</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td class="title">{{post.title}}</td>
            <td class="body">{{post.body}}</td>

            <td>
                <a routerLink="/detail/{{post.id}}">
                    <button type="button">View</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
