.sign-up-container {
    width: 350px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-heading {
    font-size: 18pt;
    margin-bottom: 15px
}

a {
    text-decoration: none
}