<div class="sign-in-container">
    <h2 class="container-heading">Sign in</h2>
    <div class="forms-container">
        <form [formGroup]="signInForm" (submit)="submitSignIn()">
            <label for="sign-in-login">Your login</label>
            <input id="sign-in-login" type="text" formControlName="login" required>
            <div *ngIf="login?.invalid && (login?.dirty || login?.touched)"
                class="alert-danger">

                <div *ngIf="login?.errors?.['required']">
                    Login is required.
                </div>
                <div *ngIf="login?.errors?.['minlength']">
                    Login must be at least 4 characters long.
                </div>
                <div *ngIf="login?.errors?.['maxlength']">
                    Login must not be longer than 15 characters
                </div>
            </div>

            <label for="sign-in-password">Your password</label>
            <input id="sign-in-password" type="password" formControlName="password" required>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="alert-danger">

                <div *ngIf="password?.errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="password?.errors?.['minlength']">
                    Password must be at least 5 characters long.
                </div>
                <div *ngIf="password?.errors?.['maxlength']">
                    Password must not be longer than 15 characters.
                </div>
            </div>

            <button class="submit-button" type="submit">Sign in</button>
        </form>
    </div>

    <p>New to PostsApp? <a routerLink="/">Join now</a></p>
</div>
